.pokeball-cell {
    width: 100px;
    height: 100px;
    margin: 14px;
    background-color: inherit;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}